{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Text Entry</title>
	<link rel="stylesheet" href="{% static 'home/styles/base.css' %}">
</head>
<body>
	<h3>Today's Entry</h3>
	<div class="form-group">
		<label for="title">Title</label><br>
		<input type="text" name="title" id="title"><br>
		<label for="entry_text">Text</label><br>
		<textarea 
		id="entry_text" 
		name="entry_text" 
		maxlength="512"
		rows="5"
		cols="50"
		placeholder="What happened today?"
		></textarea><br>
		<input type="file" id="image" name="image">
		<input type="submit">
	</div>
</body>
</html>