{% extends 'text_entry\base.html' %}

{% load static %}

{% block title %}Previous Entries{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'text-entry/styles/all-entries.css' %}">{% endblock %}

{% block body %}
		<section>
			<h2>Past Entries</h2>
			<ul>
				{% for entry_item in entries %}
					<li class="entry-item">
						<article>
							<div class="entry-summary">
								<div class="entry-image">
									<img src={{entry_item.image.url}}>
								</div>
								<div class="entry-details">
									<h3>{{ entry_item.title }}</h3>
									<p>{{ entry_item.entry_text }}</p>
									<p>{{ entry_item.pub_date }}</p>
								</div>
							</div>
							<div class="entry-actions">
								<a href="{% url 'entry-detail' entry_item.slug %}" class="btn">More Details</a>
							</div>
						</article>
					</li>
				{% endfor %}
			</ul>
		</section>
{% endblock %}