{% extends 'homeApp/base.html' %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'homeApp/styles/allPrompts.css' %}">{% endblock %}

{% block body %}

<a href="/welcome" id="main-logo">Welcome</a>
<section>
    <ol>
            <li class="promptItem">
                <article>
                    <div class="promptDescription">
                        <div class="promptDetails"> 
                            <h3>Current Entry Streak: 3!</h3>
                            <h3>Keep up the great work!!!!</h3>
                        </div>
                    </div>
                </article>
            </li>
    </ol>
</section>
<section>
    <ol>
        <li class="promptItem">
            <article>
                <div class="promptDescription">
                    <div class="promptDetails"> 
                        <h3>Would you like to upload your photo of the day?</h3>
                    </div>
                </div>
                <div class="promptActions">
                    <a href="/entry/new_entry" class="btn">New Entry</a>
                </div>
            </article>
        </li>
    </ol>
</section>
<section>
    <h2>Alternative Prompts:</h2>
    <ol>
        {% for prompt_item in prompts %}
            <li class="promptItem">
                <article>
                    <div class="promptDescription">
                        
                        <div class="promptDetails"> 
                            <h3>{{ prompt_item.title }}</h3>
                        </div>
                    </div>
                    <div class="promptActions">
                        <a href="/home/{{ prompt_item.slug }}" class="btn">New Entry</a>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ol>
</section>
{% endblock %}